.blue{
    color: rgb(103, 112, 243);
}

.step_heading{
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
}